<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone3,1_7.1_11D5115d_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-1665-005.dmg</string>
	<key>RootFilesystemKey</key>
	<string>b0ed9989782652553ce9e182baf8c03b195cdd38c1434f49bbcf484f20f9b54bb59c58f3</string>
	<key>RootFilesystemSize</key>
	<integer>1600</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA256</key>
	<string>50bb6b94039d897e6ba3a980a3922957bb6db7179be2bfc4f8d66d250e4e79f5</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string></string>
		<key>package</key>
		<string></string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios6</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>82ef9414eef812e807e73e859e31f81e</string>
			<key>Key</key>
			<string>67bd371d7c0612933c80e317cccba5837b4736241b524addc11feffe5c7c2783</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7556f252317dba9f685757096dfa141c</string>
			<key>Key</key>
			<string>e4ef6a352d24d2f823c4454646812541849e4b565219b4632511185a24dd18a0</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1545-005.dmg</string>
			<key>IV</key>
			<string>2bc1aa0e6716953115633c7e163e23c1</string>
			<key>Key</key>
			<string>f0f618841069ec383c1ab9c6e5a2229d9b1265bcb388017488832b3be92ba6d1</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>63476ddaf117a8f6128a48175d51e905</string>
			<key>Key</key>
			<string>2489debd9f15eac64247a15ef85278b05a7561d182a16d29da816106e13234ae</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>f27389ccc5abcd14ef962983f2fdb264</string>
			<key>Key</key>
			<string>77e184d227a56d97767ede221c4d298e40cf9811c599ab47d8c7a55edacd701f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>af4607e1f3e440d11dd6b3ef3b89ff5e</string>
			<key>Key</key>
			<string>f545a97a3375d5a3e434ec51bcca0c4a82fe3c69f75057badc166c9bf45aeaff</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo7@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x~iphone.s5l8990x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode7@2x~iphone-30pin.s5l8930x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/iBoot6.n90ap.RELEASE.img3</string>
			<key>IV</key>
			<string>e6aaa4514c3bd237ef4b9c6c1ad81f02</string>
			<key>Key</key>
			<string>6b355b653e32a3746ea6d37c110980777bb7e09aae97a013bb1278240731c0db</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
