<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n48</string>
			<key>IV</key>
			<string>b9b1f9874c6e242d9ec45258ffddd0c9</string>
			<key>Key</key>
			<string>cee9002c0f21ea643d8fb57e646e97379fb28012d6537e54742e060825048e4e</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n48</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-8493-001.dmg</string>
			<key>IV</key>
			<string>7a4aebe627cc2284872225df69ed5d8d</string>
			<key>Key</key>
			<string>e1483b895fb10397dcead08799442fc8b1b4a64046d2106a11671d54718ddb56</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4e897c00b40c757beaa764df7a2c29b0</string>
			<key>Key</key>
			<string>ce45099e76c063036d4b7fb1aa5453ea4c61f979c91ee06c98cb305e601bbadc</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>383037877c11ca565a10356e7150410d</string>
			<key>Key</key>
			<string>53afeeff0463fee9b9720f6a397f23b29c6a587fdc4f9272b8a4e483786e3bd8</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/DeviceTree.n48ap.img3</string>
			<key>IV</key>
			<string>3d111cbd5693e85eff58e574bf23c205</string>
			<key>Key</key>
			<string>5f79d350185585942178202516eac497ba04f6b2d6c49658a5e33a5857dc3868</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n48ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>39347e67b48ff81d1c7dbe0a23e06479</string>
			<key>Key</key>
			<string>be830b634d8dfc4cbb001df67b8797c7fb078dd3e7b997d4f8724cce9e00c5ee</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RootFilesystem</key>
	<string>038-7673-316.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1600</integer>
	<key>RootFilesystemKey</key>
	<string>4864e00d67d617a08e7a180fda92397bcc27d18e6196efea8153523fc738907b86df959b</string>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A466.N48OS</string>
	<key>SHA1</key>
	<string>3d15d882081632f699410b0ca86204ff0ad9b641</string>
	<key>Filename</key>
	<string>iPhone5,3_7.0_11A466_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,3_7.0_11A466</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
